<!DOCTYPE html>
<html>
  <head>
    <title>Comment Analyzer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Comment Analyzer</h1>
      <textarea
        id="commentInput"
        placeholder="Write your comment here..."
      ></textarea>
      <button onclick="analyzeComment()">Analyze</button>
    </div>
    <div class="container">
        <div class="image">
            <form action = "/analyseImage" method = "post" enctype="multipart/form-data">  
                <input type="file" name="file" />  
                <button>Upload</button>
                
            </form> 
            <h1>Verdict of Image:</h1> 
            <h2>{{result}}</h2>
        </div>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
